!!! 5
html
  head
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
    script(src='http://js.pusherapp.com/1.8/pusher.min.js')
  body
    h1= title
    div.outerContainer
      p.messageArea
      div.user-area
        h2 Users Online
          span.user-count ()
        ol.user-list

      div.game-board
        button#start-game-button(type="button") Start Game
        img#mole(src="images/evil_mole_cropped.png")

      script(type='text/javascript')
        var pusher = new Pusher('#{pusherAppKey}');
        var currentUserId = "#{currentUserId}";
        var currentUserEmail = "#{currentUserEmail}";
        var userScores = !{JSON.stringify(scores)}
      script(src='/javascripts/game.js')
